*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    background-color: hsl(353, 33%, 95%);

}
#container{
    height: 25%;
    width: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
}
#choice{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#choice button{
    border: none;
    background-color: hsl(350, 100%, 88%);
    padding:5px 10px;
    border-radius: 9px;
}
i{
    font-size: 4rem;
    color:hsl(350, 100%, 78%);
}
#response{
    font-size: 2rem;
    padding:20px 20px;
    border-radius: 10px;
    background-color: white;
    display: none;
}
